* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 20px;
    border: 1px solid red;
}

.header {
    background-color: rgb(53, 53, 192);
}

.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.landguru {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    text-transform: capitalize;
    border: 1px solid red;
}

.landguru-h3 {
    color: white;
}

.header-li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: 33px;
    text-transform: capitalize;
    margin: 0px 10px;
}

.header-button {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.ultimate {
    font-size: 85px;
    color: white;
}

.ultimate-text {
    width: 100%;
    max-width: 670px;
}

.nav-text {
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    color: gainsboro;
    line-height: 42px; /* 233.333% */
}

.nav-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.nav-button-get {
    width: 150px;
    height: 50px;
}

.nav-img img {
    width: 100%;
    max-width: 500px;
}

.nav-button {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.nav-watch {
    color: white;
}