* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 20px;
    /* border: 1px solid red; */
}

/* header-all header-all header-all header-all */

.header {
    background-color: rgb(53, 53, 192);
    padding-bottom: 100px;
}

.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.landguru {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    text-transform: capitalize;
}

.landguru-h3 {
    color: white;
}

.header-li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: 33px;
    text-transform: capitalize;
    margin: 0px 10px;
}

.header-button {
    width: 120px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: .6s;
}

.header-button:hover {
    background-color: rgba(41, 41, 119, 0.555);
    color: rgb(134, 220, 134);
}


.ultimate {
    font-size: 85px;
    color: white;
}

.ultimate-text {
    width: 100%;
    max-width: 670px;
}

.nav-text {
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0px;
    color: gainsboro;
    line-height: 42px;
}

.nav-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}


.nav-button-get {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
}

.nav-img img {
    width: 100%;
    max-width: 500px;
}

.nav-button {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-watch {
    color: white;
}

.nav-brends {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-brends a {
    font-size: 16px;
    text-transform: capitalize;
    color: gainsboro;
    margin: 0 10px;
}

/* header-all header-all header-all header-all */



/* section1 section1 section1 section1 section1 */

.section1 {
    padding-top: 50px;
}

.meet-all {
    text-align: center;
}

.section1-quality-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.section1-meet-text {
    font-size: 36px;
}