* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 20px;
    border: 1px solid gold;
}

/* header-all header-all header-all header-all */

.header {
    background-color: rgb(53, 53, 192);
    padding-bottom: 100px;
}

.header .container {
    background-image: url(/svg/Rectangle.svg), url(/svg/Rectangle.svg), url(/svg/Rectangle\ 2.svg), url(/svg/Rectangle\ 2.1.svg), url(/svg/Rectangle\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: top -50px left, bottom left, top left 440px, bottom left 1000px, top right -15px, bottom right;
}

.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.landguru {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    text-transform: capitalize;
}

.landguru-h3 {
    color: white;
}

.header-li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: 33px;
    text-transform: capitalize;
    margin: 0px 10px;
}

.header-button {
    width: 120px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: .6s;
}

.header-button:hover {
    background-color: rgba(41, 41, 119, 0.555);
    color: rgb(134, 220, 134);
}


.ultimate {
    font-size: 85px;
    color: white;
}

.ultimate-text {
    width: 100%;
    max-width: 670px;
}

.nav-text {
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0px;
    color: gainsboro;
    line-height: 42px;
}

.nav-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
}


.nav-button-get {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    transition: .2s;
}

.nav-button-get:hover {
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    color: white;
}

.nav-img img {
    width: 100%;
    max-width: 500px;
}

.nav-button {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-watch {
    color: white;
}

.nav-brends {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-brends a {
    font-size: 16px;
    text-transform: capitalize;
    color: gainsboro;
    margin: 0 10px;
}

/* header-all header-all header-all header-all */



/* section1 section1 section1 section1 section1 */

.section1 {
    padding-top: 50px;
}

.meet-all {
    text-align: center;
}

.section1-quality-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.section1-meet-text {
    font-size: 36px;
}

.section1-ul {
    padding-top: 160px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section1-p_text {
    width: 240px;
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #343D48;
}

.smart-all {
    padding-top: 200px;
}

.analytics-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.analytics-core-text {
    color: #244886;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.analytics-smart-text {
    width: 100%;
    max-width: 440px;
    padding: 30px 0;
    color: #0F2137;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.5px;
}

.analytics-all-img {
    width: 100%;
    max-width: 450px;
}

.smart-and-secure-all {
    width: 100%;
    max-width: 482px;
}

.smart-feature {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 30px 0;
    padding: 30px 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: .6s;
}



.smart-feature:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}

.secure-all {
    width: 100%;
    max-width: 450px;
    line-height: 30px;
    margin-left: 20px;
}

/* section1 section1 section1 section1 section1 */


/* section2 section2 section2 section2 section2  */

.section2 {
    padding-top: 100px;
}



.section2-ul {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 30px;
}

.section2-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 1px solid rgb(219, 216, 216);
    box-shadow: 0 0 10px rgba(175, 169, 169, 0.358);
    padding: 10px 10px;
    border-radius: 10px;
    transition: .4s;
}

.icon {
    width: 70px;
}

.section2-li:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}

.section2-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section2-li-texts {
    width: 100%;
    max-width: 350px;
}

.section2-li-text {
    font-size: 15px;
    line-height: 26px;
}

/* section2 section2 section2 section2 section2 */


/* section3 section3 section3 section3section3 */

.jackpots-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3-core-title {
    color: #244886;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.section3-jackpot {
    width: 100%;
    max-width: 440px;
    color: #0F2137;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.5px;
}

.section3-jackpot-texts {
    width: 100%;
    max-width: 450px;
    padding: 20px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #02073E;
}

.section3-get-link {
    background-color: #1F3E76;
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    transition: .4s;
}

.section3-get-link:hover {
    background-color: white;
    border: 1px solid rgb(53, 53, 190);
    color: rgb(53, 53, 190);
}

.jackpot-img {
    padding-top: 50px;
}

.jackpot-img img{
    width: 100%;
}

/* section4 section4 section4 section4 section4 */

.section4 {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #1E3C72;
}

.the_function_ul {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.the_function_li {
    width: 100%;
    max-width: 320px;
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}

.the_function_li:hover {
    background-color: #152e5e;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.358);
}

.the_function-text {
    font-size: 14px;
    color: white;
}

.the_function-texts {
    font-size: 36px;
    color: white;
    padding: 10px 0;
    /* flex-direction: center; */
}

.the_set_texts {
    color: red;
    color: #0F2137;
}

.the_function-title {
    text-align: center;
}

.function_imgs {
    width: 100%;
    /* max-width: 400px; */
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.the-set-all {
    width: 100%;
    max-width: 250px;
    color: white;
}

.the-set-text {
    font-size: 22px;
    padding: 15px 0;
    line-height: 155%;
}

.the_set_texts {
    color: rgb(211, 211, 211);
    line-height: 30px;
    padding: 10px 0;
}
/* section4 section4 section4 section4 section4 */



/* section5 section5 section5 section5 section5 */


.section5 {
    padding-top: 100px;
}

.stark-text {
    line-height: 40px;
}

.stark-texts {
    color: #343D48;
    line-height: 38px;
}

.testimunial-ul {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.testimunial-li {
    width: 100%;
    max-width: 350px;
    padding: 30px 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    transition: .4s;
}

.testimunial-li:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.denny-all {
    width: 190px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
}

.testimunial-title {
    text-align: center;
}

.secore-all {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
}

.core-all img {
    width: 100%;
}

.core-title {
    color: #244886;
    font-size: 20px;
}

.core-text-all {
    width: 100%;
    max-width: 500px;
    border: 1px solid red;
}

.secure-text {
    font-size: 48px;
    padding: 20px 0;
}

.secure-texts {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    color: #02073E;
}

.secure-learn {
    padding: 15px 25px;
    border-radius: 30px;
    background-color: #1F3E76;
    color: white;
    border: 1px solid #1F3E76;
    transition: .3s;
}

.secure-learn:hover {
    background-color: white;
    color: #1F3E76;
    border: 1px solid #1F3E76;
}


/* section5 section5 section5 section5 section5 */

@media screen and (max-width: 1200px) {
    .section2-ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .section2-li-texts {
        width: 100%;
    }

    .section2-li {
        justify-content: space-evenly;
    }

    .jackpots-all {
        flex-direction: column;
    }

    .core-text-all {
        width: 100%;
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {

    .ultimate {
        font-size: 50px;
    }

    .header-li {
        display: none;
    }

    .section2-ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .section2-li {
        gap: 20px;
        flex-direction: column;
    }

    /* .section3-jackpot {
        font-size: 30px;
    } */
}