* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 20px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: url(/svg/Rectangle\ 22724.svg), url(/img/apple-tree-garden-green-fruit-970352\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.lorem-boglanish {
    padding: 20px 45px;
    border-radius: 10px;
    color: #1877F2;
    font-size: 20px;
    background-color: rgb(213, 210, 210);
    border: 1px solid #557dc8;
    transition: .6s;
}

.lorem-boglanish:hover {
    background-color: #1877F2;
    color: white;
}

.lorem-all {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.lorem {
    width: 100%;
    max-width: 580px;
}

.lorem-h2 {
    font-size: 50px;
    color: white;
}

.lorem-p {
    font-size: 20px;
    line-height: 30px;
    padding: 22px 0px;
    color: white;
}

.lorem-img img {
    width: 100%;
}

.header-text {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.meva {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.header-lorem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-title {
    width: 450px;
    font-size: 40px;
    color: #585858;
    line-height: 40px;
}

.img-meva img {
    margin-top: 50px;
    width: 350px;
}

.title-text {
    width: 100%;
    max-width: 630px;
    color: #828282;
    line-height: 30px;
}

.header-sifat-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}


.colored-box {
    position: relative;
    width: 60px;
    height: 60px;
}

.colored-box::before,
.colored-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
}   

.colored-box::before {
    background-color: rgba(255, 232, 200, 0.50);
    transform: rotate(30deg);
    z-index: 1;
}

.colored-box::after {
    z-index: 2;
    background-color: #C5D9FF;
}

.colored-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.fa-solid {
    font-size: 30px;
}

.header-sifat {
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: .6s;
}

.header-sifat:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}

.sifatli {
    font-size: 30px;
    padding: 20px 0;
}

.sifatli-text {
    font-size: 15px;
    line-height: 30px;
    color: #828282;
}

.mahsulot-title {
    text-align: center;
}

.section-mahsulot {
    padding-top: 50px;
}

.shirin-foydali {
    color: blue;
}

.mahsulot-imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.mahsulot-imgs img {
    transition: .6s;
}



.chaq-chuq img {
    width: 260px;
}

.mahsulotlarimiz {
    font-size: 35px;
    text-transform: capitalize;
    color: #585858;
}


.sifatli-mahsulot-all {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    padding: 40px 20px;
    margin-top: 60px;
    border-radius: 7px;
    background: linear-gradient(180deg, #EDF7FF 0%, rgba(237, 238, 255, 0.50) 100%);
}

.mijozlar-text {
    width: 100%;
    max-width: 300px;
    line-height: 30px;
    color: #575757;
}

.mamnun-mijozlar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.none {
    display: none;
}


.mijozlar {
    max-width: 210px;
    line-height: 25px;
    padding: 20px 10px;
    background-color: white;
    position: relative;
    margin-top: 30px;
}

.svg-img {
    position: absolute;
    top: -50px;
}

.doctor {
    padding: 10px 0px;
}

.doctor-text {
    color: #575757;
}

.brend-text {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    color: #585858;
}

.brends {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 10px;
}

.brends img {
    /* width: 200px; */
    border: 2px solid blue;
}

.boglanish {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
}

.boglanish-display {
    width: 100%;
    max-width: 1050px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.insta {
    width: 100%;
    max-width: 100%;
}

.instagram-all {
    width: 100%;
    max-width: 100px;
}

.boglanish-email {
    width: 100%;
    max-width: 500px;
    height: 480px;
    background-image: url(/img/stock-images-photodune-196400-apple-orchard-m6\ 1.png);
    border-radius: 10px;
    padding: 0 20px;
}

.boglanish-question {
    margin-top: 90px;
    color: white;
    text-align: center;
}

.person {
    margin-top: 30px;
}

.boglanish-input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}

.boglanish-izoh {
    width: 100%;
    padding: 10px 10px 70px 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}

.boglanish-button {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 8px 0;
    border: none;
    background-color: #1877F2;
    color: white;
    text-align: center;
}

.map img {
    width: 100%;
    height: 350px;
}

.about-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    padding-top: 150px;
}

.about-item {
    color: #6C93DE;
}

.menu {
    color: #6C93DE;
}

.cell {
    color: #6C93DE;
}

.socal-aloqa {
    color: #6C93DE;
}

.about-text {
    width: 100%;
    max-width: 280px;
    line-height: 27px;
}

.menular {
    line-height: 27px;
}

.aloqa {
    max-width: 100%;
    max-width: 177px;
    line-height: 27px;
}

.socal-all {
    max-width: 100%;
    width: 250px;
}

.socal {
    max-width: 100%;
    width: 100px;
    line-height: 27px;
}

.sub {
    display: flex;

}

@media screen and (max-width: 400px) {

    .section-boglanish .container {
        width: 400px;
    }
}

@media(max-width: 1150px) {
    .sifatli-mahsulot {
        width: 100%;
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
    }

    .mijozlar-text {
        margin: auto;
    }

    .mamnun-mijozlar {
        margin: auto;
    }
}

@media (max-width: 1019px) {
    .header-lorem {
        width: 100%;
        max-width: 600px;
        /* text-align: center; */
        margin: auto;
    }

    .header-title {
        margin: auto;
        text-align: center;
    }

    .img-meva {
        margin: auto;
        padding-top: 10px;
    }
}

@media (max-width: 893px) {
    .boglanish-display {
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    .boglanish-email {
        margin: auto;

    }

    .meva a {
        display: none;
    }

    .header-sifat {
        margin: auto;
    }

    .header-sifat-logo {
        padding-top: 50px;
    }
}

@media (max-width: 859px) {
    .header-sifat-logo {
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding-top: 50px;
    }

    .header-sifat {
        margin-left: auto;
    }

    .instagram-all {
        width: 100%;
        height: 200px;
        max-width: 200px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (max-width: 712px) {
    .brends {
        gap: 30px;
    }
}

@media screen and (max-width: 400px) {
    .boglanish-display {
        width: 100%;
        max-width: 360px;
    }

    .map {
        width: 100%;
        max-width: 400px;
        margin: 10px 10px;
    }

    .brends {
        display: none;
    }
}

@media (max-width: 524px) {
    .header-title {
        width: 100%;
        max-width: 300px;
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .img-meva img {
        width: 300px;
    }

    .section-boglanish .container {
        width: 100%;
        max-width: 400px;
    }

    .boglanish-email {
        width: 100%;
        max-width: 400px;
        height: 450px;
    }


}


@media screen and (max-width:400px) {
    .none {
        display: block;
    }

    .none>img {
        position: absolute;
        top: -50px;
    }

    .customers {
        max-width: 210px;
        line-height: 25px;
        padding: 20px 10px;
        background-color: white;
        position: relative;
        margin-top: 50px;
    }

    .block {
        display: none;
    }
}